// CHOSEN TAG BOX
.chosen-container.chosen-container-multi {
    height: 34px;

    .chosen-choices {
        background: #fff;
        border: 1px solid #ddd;
        height: 100%;
        .search-field {
            input[type="text"] {
                height: 30px;
            }
        }
        .search-choice {
            background-color: #fff;
            background-image: none;
            border: 2px solid #ddd;
            color: $glay-color;
            box-shadow: none;
            border-radius: 0px;
            line-height: 14px;
        }
    }
    .chosen-drop {
        background: #fff;
        border: 1px solid #ddd;

        .chosen-results {
            color: $glay-color;
            li {
                color: $glay-color;
                &.result-selected {
                    color: $mint-color;
                    font-weight: 600;
                }
                &.highlighted {
                    background-color: $mint-color;
                    background-image: none;
                }
            }
        }
    }

    &.black {
        .chosen-choices {
            background: #222;
            border: 1px solid #333;

            .search-choice {
                background: $glay-color;
                color: #eee;
                border: 2px solid $glay-color;
            }
            .search-field {
                background-image: none;
                color: #eee;
            }
        }
        .chosen-drop {
            background: #222;
            border: 1px solid #333;
            .chosen-results {
                color: #eee;
                li {
                    color: #eee;
                }
                li.no-results {
                    background: #222;
                    color: #eee;
                }
            }
        }
    }
}

// CHOSEN SELECT BOX
.chosen-container.chosen-container-single {
    display: block;

    &.chosen-container-active {
        .chosen-single {
            box-shadow: none;
            border: 1px solid #aaa;
        }
    }
    .chosen-single {
        height: 30px;
        line-height: 28px;
        background: #fff;
        color: $glay-color;
        border-radius: 0;
        box-shadow: none;

        span {
            text-align: center;
        }
    }

    .chosen-drop {
        border-radius: 0;

        .chosen-results {
            li {
                &.result-selected {
                    color: $mint-color;
                    font-weight: 600;
                }
                &.highlighted {
                    background-color: $mint-color;
                    color: #fff;
                    background-image: none;
                }
            }
        }
    }

    &.black {
        .chosen-single {
            background: #222;
            color: #eee;
        }
        .chosen-choices {
            background: #222;
            border: 1px solid #333;

            .search-field {
                background-color: #222;
                background-image: none;
                border: 2px solid #333;
                color: #fff;
            }
        }
        .chosen-drop {
            background: #222;
            border: 1px solid #333;
            .chosen-results {
                color: #eee;
                li {
                    color: #eee;
                }
                li.no-results {
                    background: #222;
                    color: #eee;
                }
            }
        }
    }

    &.ghost {
        .chosen-single {
            background: transparent;
            color: #eee;
            border: 1px solid #eee;
        }
        .chosen-choices {
            background: rgba(0,0,0,0.93);
            border: 1px solid #eee;

            .search-field {
                background-color: rgba(0,0,0,0.93);
                background-image: none;
                border: 2px solid #333;
                color: #fff;
            }
        }
        .chosen-drop {
            background: rgba(0,0,0,0.93);
            border: 1px solid #eee;
            border-top: none;
            .chosen-results {
                color: #eee;
                li {
                    color: #eee;
                }
                li.no-results {
                    background: rgba(0,0,0,0.93);
                    color: #eee;
                }
            }
        }
    }
}
