.sp-replacer {
    background: #444;
    color: #eee;
    border: none;

    .sp-dd {
        color: #eee;
    }
}

.sp-container {
    background: #444;
    border: 1px solid #222;

    .sp-picker-container {
        border: none;

        .sp-input-container {
            .sp-input {
                background: #fff;
                border: 1px solid #fff;
                border-radius: 0;
                color: #444;
            }
        }

        .sp-button-container {
            margin-top: 10px;
            .sp-cancel {
                display: none;
            }
            .sp-choose {
                float: right;
                background: #48cfad;
                color: #eee;
                border: none;
                border-radius: 0;
                padding: 5px 20px;
            }
        }
    }
}
