// FORM CONTROL

input.ng-dirty.ng-invalid {
    border-color: $red-color;
    box-shadow: 0 0 8px rgba(236,100,70,0.6);
    color: $glay-color;
}

.input-group {
    border-radius: 0;
    select {
        width: 100%;
    }

    .form-error-message {
        color: $red-color;
        font-size: 11px;
        vertical-align: middle;
        margin: 0 5px;
    }
}
.input-group-addon {
    color: $glay-color;
    background: #fff;
    border: none;
    border-radius: 0;
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: $mint-color;
    box-shadow: 0 0 8px rgba(72,207,173,0.6);
    color: $glay-color;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.cropper-view-box {
    outline: 1px solid $mint-color;
    outline-color: rgba(72,207,173,0.6);
}
.cropper-line {
    background-color: $mint-color;
}
.cropper-point {
    background-color: $mint-color;
}
