
// MIXIN......
@mixin elasticAction($width){
    width: $width;
    opacity: 0.8;
}

@mixin ellipsis{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

// FOR ELEMENTS....
label {
    margin: 10px 0;
}

// FOR CARD UI....
.row .card {
    position: relative;
    background: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 7px 0px rgba(0,0,0,0.2);
}

// FOR BOOTSTRAP GRID....
.clear-left {
    padding-left: 0;
}
.clear-right {
    padding-right: 0;
}

// WEB GL VIEWER
.webgl-viewer {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30%;
}
