
html, body {
    min-width: 320px;
}

#container {
    padding-top: 90px;
}
#container > .row {
    margin: 0;
}

// FOR ELEMENTS....
label {
    margin: 10px 0;
}

// FOR CARD UI....
.row .card {
    position: relative;
    background: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 7px 0px rgba(0,0,0,0.2);
    &.no-padding {
        padding: 0;
    }
}

// FOR BOOTSTRAP GRID....
.clear-left {
    padding-left: 0;
}
.clear-right {
    padding-right: 0;
}

// WEB GL VIEWER
.webgl-viewer {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30%;
    height: 100%;
}

// CROPPER PREVIEW
.cropper-preview {
    overflow: hidden;
}

// LOADING WRAPPER
.loading-div {
    &#loading-element {
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background: rgba(255,255,255,0.8);
        z-index: 1;
    }
}
