.rzslider {
    .rz-bar.rz-selection {
        background: #48cfad;
    }
    .rz-pointer {
        &:after {
            display: none;
        }
        &.rz-active {

        }
        width: 20px;
        height: 20px;
        top: -8px;
        border-radius: 50%;
        background: #48cfad;
    }
}
