<div class="row">
    <div ng-repeat="member in creators" class="col-sm-6 col-lg-3">
        <div class="card creator-card">
            <div class="creator-info">
                <div class="divide20"></div>
                <div class="creator-card-body">
                    <div class="creator-pic-wrap">
                        <div class="creator-pic">
                            <img ng-src="{{contentHost + member.profile}}" />
                        </div>
                    </div>
                    <div class="creator-info-wrap">
                        <p class="creator-name">
                            <a ui-sref="aside.default.dashboard({memberId: member.code})">{{member.name}}</a>
                        </p>
                    </div>
                </div>
                <div class="creator-card-medal">
                    <ul>
                        <li ng-repeat="medal in member.medals">
                            <img ng-src="{{'assets/images/medals/' + medal.code + '.png'}}" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="creator-card-footer">
                <ul>
                    <li ng-repeat="item in member.contents" class="usercontent">
                        <a href="" class="content-link">
                            <img ng-src="{{contentHost + item.img}}" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="creator-menu" ng-click="toggleClick(member,$event)" ng-class="{'selected' : member.selected}">
                <i class="creator-menu-icon fa fa-bars"></i>
                <ul ng-show="member.selected" class="creator-menu-list">
                    <li ng-repeat="menu in menuList">
                        <a ui-sref="{{menu.url}}">
                            <i class="fa {{menu.icon}}"></i> {{menu.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
