.row .card.creator-card{
    position: relative;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .creator-info {
        padding: 10px;
    }
    .creator-card-header {
        height: 22px;
        text-align: left;
        .card-label {
            color: #444;
            font-size: 17px;
            font-weight: 600;
            .this-month {
                color: #48cfad;
                font-size: 21px;
                font-weight: 600;
                margin-left: 4px;
            }
        }
    }

    .creator-card-body {
        .creator-pic-wrap{
            text-align: center;
            position: relative;
            .creator-pic {
                overflow: hidden;
                border-radius: 50%;
                position: relative;
                display: inline-block;
                line-height: 0px;
                img {
                    width: 100%;
                }
            }
        }

        .creator-info-wrap{
            max-width: 230px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: left;
            .creator-name {
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                transition: color 0.2s;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                a {
                    width: 100%;
                    color: #444;
                }
                &:hover a {
                    text-decoration: underline;
                    color: #48cfad;
                }
            }
        }
    }

    .creator-card-medal {
        position: relative;
        height: 30px;

        ul {
            height: 100%;
            li {
                height: 100%;
                float: right;
                img {
                    height: 100%;
                }
            }
        }
    }

    .creator-card-footer {
        position: relative;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        ul {
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            .usercontent {
                display: inline-block;
                width: 33.3%;
                overflow: hidden;
                cursor: pointer;
                transition: opacity 0.4s;
                vertical-align: middle;
                img {
                    width: 100%;
                    margin-bottom: -3px;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }


    .creator-menu {
        position: absolute;
        right: 7px;
        top: 7px;
        cursor: pointer;

        .creator-menu-icon {
            font-size: 20px;
            color: #aaa;
            transition: color 0.2s;
        }

        &.selected {
            .creator-menu-icon {
                color: #48cfad;
            }
        }

        ul.creator-menu-list{
            width: 150px;
            top: 20px;
            right: 0px;
            position: absolute;
            border-radius: 5px;
            z-index: 1;
            border: 1px solid #aaa;
            background: rgba(255,255,255,0.9);
            line-height: 35px;
            li {
                text-align: left;
                font-size: 14px;
                &:hover {
                    background: rgba(200,200,200,0.5);
                }
                i {
                    display: inline-block;
                    color: #444;
                    float: left;
                    margin-top: 8px;
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 17px;
                    vertical-align: middle;
                }
                a {
                    color: #444;
                }
            }
        }
    }
}
