// GLOBAL...
.account-page {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);

    .main-logo {
        float: right;
        width: 30px;
        opacity: 0.6;
        img {
            width: 100%;
        }
    }
    h4 {
        font-weight: 600;

        &:before {
            position: absolute;
            left: 0;
            width: 5px;
            height: 15px;
            content: ' ';
            background: $mint-color;
        }
    }

    form {
        margin: 20px;
    }
}

@media (min-width: 415px){
    .account-page {
        margin-top: 100px;
        padding: 20px;
    }
}
@media (max-width: 414px){
    .account-page {
        width: 100%;
        padding: 30px;
        margin-top: -20px;
    }
}

// SIGN IN...
.signin-view {
    .signin-form, .signin-action-input {
        .input-group {
            border-bottom: 1px solid #ddd;
            height: 40px;

            &:last-child {
                margin-top: 10px;
            }

            i {
                color: #ccc;
                transition: color 0.2s;
                &.selected {
                    color: $mint-color;
                }
            }

            .form-control {
                border: none;
                height: 39px;
                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }
        }
        .btn {
            position: relative;
            width: 100%;
            &:hover {
                @include elasticAction(100%);
            }

            i {
                position: absolute;
                left: 12px;
                top: 11px;
                font-size: 18px;
            }
        }
    }

    .signin-action-input {
        a.forgot-password {
            float: right;
        }
    }
}

// SIGN UP...
.signup-view {
    .btn {
        float: right;
    }
    .checkbox {
        display: inline-block;
        margin-right: 10px;
    }
    p {
        display: inline-block;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    a {
        color: $mint-color;
        text-decoration: underline;
    }
}

// SETTING...
.account-setting {
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;

    .card-title {
        text-align: left;
        font-size: 24px;
        &:before {
            display: none;
        }
    }

    .input-group {
        position: relative;
        text-align: left;
        margin: 10px 0;

        label {
            width: 100%;
            text-align: left;
        }

        li {
            margin: 10px 0;
        }

        .form-control {
            width: 47%;
            height: 30px;
            margin: 0 5px;
            float: none;
        }

        select {
            max-width: 47%;
            display: inline-block;
        }

        .chosen-container {
            display: inline-block;
        }

        .history-group {
            .history-kind {
                width: 130px;
            }
            .history-date {
                width: 80px;
            }
        }

        .cropper-container {

        }
        .cropper-window {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: bottom;
            position: relative;

            .overlay {
                display: table;
                opacity: 0;
                position: absolute;
                background: rgba(0,0,0,0.5);
                width: 100%;
                height: 100%;
                text-align: center;
                color: #eee;
                transition: opacity 0.4s;

                span {
                    display: table-cell;
                    vertical-align: middle;
                    i {
                        font-size: 30px;
                    }
                    p {
                        color: #eee;
                    }
                }
            }
            &:hover {
                cursor: pointer;

                .overlay {
                    opacity: 1;
                }
            }

            &.cropper-preview {
                width: 100px;
                height: 100px;
                display: inline-block;
            }

            img {
                width: 100%;
            }
        }
    }
}
