// GLOBAL...
.account-page {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);

    .main-logo {
        float: right;
        width: 30px;
        opacity: 0.6;
        img {
            width: 100%;
        }
    }
    h4 {
        font-weight: 600;

        &:before {
            position: absolute;
            left: 0;
            width: 5px;
            height: 15px;
            content: ' ';
            background: #48cfad;
        }
    }

    form {
        margin: 20px;
    }
}

@media (min-width: 415px){
    .account-page {
        margin-top: 100px;
        padding: 20px;
    }
}
@media (max-width: 414px){
    .account-page {
        width: 100%;
        padding: 30px;
        margin-top: -20px;
    }
}

// SIGN IN...
.signin-view {
    .signin-form, .signin-action-input {
        .input-group {
            border-bottom: 1px solid #ddd;
            height: 40px;

            &:last-child {
                margin-top: 10px;
            }

            i {
                color: #ccc;
                transition: color 0.2s;
                &.selected {
                    color: #48cfad;
                }
            }

            .form-control {
                border: none;
                height: 39px;
                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }
        }
        .btn {
            width: 100%;
            &:hover {
                @include elasticAction(100%);
            }
        }
    }

    .signin-action-input {
        a.forgot-password {
            float: right;
        }
    }
}

// SIGN UP...
.signup-view {
    .btn {
        float: right;
    }
}

// SETTING...
.account-setting {
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;

    .card-title {
        text-align: left;
        font-size: 24px;
        &:before {
            display: none;
        }
    }

    .input-group {
        position: relative;
        text-align: left;
        margin: 10px 0;

        label {
            width: 100%;
            text-align: left;
        }

        li {
            margin: 10px 0;
        }

        .form-control {
            width: 200px;
            height: 36px;
            margin: 0 5px;
            float: none;
        }

        .selectBox {
            min-width: 150px;
            max-width: 300px;
            display: inline-block;
            margin: 0 5px;
            background: #fff;

            .select-body {
                border: 1px solid #ccc;
            }
        }

        .history-group {
            .selectBox {
                min-width: 110px;
            }
        }

        .cropper-container {

        }
        .cropper-window {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: bottom;

            &.cropper-preview {
                width: 100px;
                height: 100px;
                overflow: hidden;
                display: inline-block;
            }

            img {
                width: 100%;
            }
        }
    }
}
