<!-- SETTING PAGE -->

<div class="col-xs-12 col-sm-12 col-lg-12 account-page account-setting">
    <form ng-submit="vm.submit()">
        <div class="card">
            <h4 class="card-title">{{'ACCOUNT.SETTING' | translate}}</h4>
            <div class="divide20"></div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.EMAIL' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    disabled
                    ng-model="vm.member.email"
                />
                <select
                    ui-select2="vm.selectBoxOptionsNoSearch"
                    required
                    ng-model="vm.publicOption.email"
                    ng-options="option for option in vm.publicOptionList"
                >
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.NICKNAME' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    disabled
                    ng-model="vm.member.name"
                />
            </div>
        </div>
        <div class="card">
            <h4 class="card-title">{{'SETTING.BASIC_INFO' | translate}}</h4>
            <div class="divide20"></div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.PROFILE_PIC' | translate}}</label>
                <div>
                    <div class="cropper-window cropped"
                        ngf-select
                        type="file"
                        name="files"
                        ng-model="vm.uploadedProfile"
                        ngf-change="vm.changedFile($files,$file,$newFiles,$invalidFiles)"
                        ngf-accept="'image/*'"
                        ngf-resize="{width:640, height:640, quality: 1.0}"
                        ngf-max-size="10MB"
                        ngf-max-files="1"
                        ngf-fix-orientation="true"
                    >
                        <div class="overlay">
                            <span>
                                <i class="fa fa-cloud-upload"></i><p>{{'FORM.CHANGE' | translate}}</p>
                            </span>
                        </div>
                        <img ng-src="{{vm.profileChanged ? vm.member.profile : 'assets/images/no_images/user.jpg'}}" />
                    </div>
                    <i ng-show="vm.cropping" class="fa fa-arrow-left" aria-hidden="true"></i>
                    <div ng-show="vm.cropping" class="cropper-window cropper-preview"></div>
                </div>
                <div>
                    <span class="btn" ng-show="vm.cropping"><i class="fa fa-crop" ng-click="vm.crop()"></i></span>
                </div>
                <img ng-show="vm.cropping" cropper cropping="vm.cropping" previewer="'.preview'" class="cropper" ngf-src="vm.uploadedProfile" ngf-no-object-url="true" />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.JOB' | translate}}</label>
                <select
                    ui-select2
                    class="half-width"
                    ng-model="vm.member.job"
                    ng-options="job.name as job.name for job in vm.jobList"
                >
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.POSITION' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    ng-model="vm.member.position"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.LOCATION' | translate}}</label>
                <select
                    ui-select2
                    class="half-width"
                    ng-model="vm.member.country"
                    ng-options="country.name as country.name for country in vm.countryList"
                >
                </select>
                <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    ng-model="vm.member.city"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.LANGUAGE' | translate}}</label>
                <ul>
                    <li ng-repeat="language in vm.languages">
                        <select
                            ui-select2="vm.selectBoxOptionsNoSearch"
                            class="half-width"
                            ng-model="language.level"
                            ng-options="level for level in vm.languageLevelList"
                        >
                        </select>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="language..."
                            ng-model="language.name"
                        />
                    </li>
                </ul>
                <div class="divide20"></div>
                <div class="btn" ng-click="vm.languageControl('add')"><i class="fa fa-plus"></i></div>
                <div class="btn" ng-click="vm.languageControl('remove')"><i class="fa fa-minus"></i></div>
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.DESCRIPTION' | translate}}</label>
                <textarea
                    msd-elastic="\n"
                    type="text"
                    rows="5"
                    ng-maxlength="1000"
                    class="form-control"
                    ng-model="vm.member.description"
                ></textarea>
            </div>
        </div>
        <div class="card">
            <h4 class="card-title">{{'SETTING.HISTORY' | translate}}</h4>
            <div class="divide20"></div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <ul>
                    <li ng-repeat="history in vm.histories">
                        <div class="history-group">
                            <select
                                ui-select2="vm.selectBoxOptionsNoSearch"
                                class="history-kind"
                                ng-model="history.category"
                                ng-options="kind for kind in vm.historyKind"
                            >
                            </select>
                            <select
                                ui-select2="vm.selectBoxOptionsNoSearch"
                                class="history-date"
                                ng-model="history.date.year"
                                ng-options="year for year in vm.yearList"
                            >
                            </select>
                            <select
                                ui-select2="vm.selectBoxOptionsNoSearch"
                                class="history-date"
                                ng-model="history.date.month"
                                ng-options="month for month in vm.monthList"
                            >
                            </select>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{'SETTING.HISTORY_PLACEHOLDER.CONTENT' | translate}}"
                                ng-model="history.content"
                            />
                        </div>
                    </li>
                </ul>
                <div class="divide20"></div>
                <div class="btn" ng-click="vm.historyControl('add')"><i class="fa fa-plus"></i></div>
                <div class="btn" ng-click="vm.historyControl('remove')"><i class="fa fa-minus"></i></div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-title">{{'SETTING.CONTACT' | translate}}</h4>
            <div class="divide20"></div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.MOBILE' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    ng-model="vm.member.mobile"
                />
                <select
                    ui-select2="vm.selectBoxOptionsNoSearch"
                    required
                    ng-model="vm.publicOption.mobile"
                    ng-options="option for option in vm.publicOptionList"
                >
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.FAX' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    ng-model="vm.member.fax"
                />
                <select
                    ui-select2="vm.selectBoxOptionsNoSearch"
                    required
                    ng-model="vm.publicOption.fax"
                    ng-options="option for option in vm.publicOptionList"
                >
                </select>
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>{{'LABEL.WEBSITE' | translate}}</label>
                <input
                    type="text"
                    placeholder="ex) www.lubycon.com"
                    class="form-control"
                    ng-model="vm.member.website"
                />
                <select
                    ui-select2="vm.selectBoxOptionsNoSearch"
                    required
                    ng-model="vm.publicOption.website"
                    ng-options="option for option in vm.publicOptionList"
                >
                </select>
            </div>
        </div>
        <div class="divide20"></div>
        <button class="btn btn-mint" type="submit">{{'FORM.SUBMIT' | translate}}</button>
    </form>
</div>
