<!-- SIGNIN PAGE -->

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 account-page signin-view animated" ng-class="{bounceInDown : !vm.isMobile}">
    <div class="main-logo">
        <img src="assets/images/logo/svg/logo_black.svg" />
    </div>
    <h4>{{'ACCOUNT.SIGNIN' | translate}}</h4>
    <form ng-submit="vm.signin()" class="signin-form">
        <div class="divide20"></div>
        <div class="signin-form-input">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user" ng-class="{selected : vm.emailFocused}"></i>
                </span>
                <input
                    required
                    type="email"
                    class="form-control"
                    placeholder="{{'LABEL.EMAIL' | translate}}"
                    ng-model="vm.signInfo.email"
                    ng-focus="vm.emailFocused = true"
                    ng-blur="vm.emailFocused = false"
                />
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" ng-class="{selected : vm.passwordFocused}"></i>
                </span>
                <input
                    required
                    type="password"
                    class="form-control"
                    placeholder="{{'LABEL.PASSWORD' | translate}}"
                    ng-model="vm.signInfo.password"
                    ng-focus="vm.passwordFocused = true"
                    ng-blur="vm.passwordFocused = false"
                />
            </div>
        </div>
        <div class="divide20"></div>
        <button class="btn btn-mint" type="submit">{{'ACCOUNT.SIGNIN' | translate}}</button>
        <div class="divide10"></div>
        <a class="btn" ui-sref="common.noFooter.signup">{{'ACCOUNT.SIGNUP' | translate}}</a>
    </form>
    <div class="signin-action-input">
        <a ui-sref="common.default.findPassword" class="forgot-password">{{'ACCOUNT.FIND_PASSWORD' | translate}}</a>
    </div>
</div>
