<!-- SIGNIN PAGE -->

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 account-page signin-view animated" ng-class="{bounceInDown : !vm.isMobile}">
    <div class="main-logo">
        <img src="assets/images/logo/svg/logo_black.svg" />
    </div>
    <h4>{{'ACCOUNT.SIGNIN.TITLE' | translate}}</h4>
    <form class="signin-form">
        <div class="divide20"></div>
        <div class="signin-form-input">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user" ng-class="{selected : vm.emailFocused}"></i>
                </span>
                <input
                    type="email"
                    class="form-control"
                    placeholder="{{'LABEL.EMAIL' | translate}}"
                    ng-model="vm.signInfo.email"
                    ng-focus="vm.emailFocused = true"
                    ng-blur="vm.emailFocused = false"
                />
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" ng-class="{selected : vm.passwordFocused}"></i>
                </span>
                <input
                    type="password"
                    class="form-control"
                    placeholder="{{'LABEL.PASSWORD' | translate}}"
                    ng-model="vm.signInfo.password"
                    ng-focus="vm.passwordFocused = true"
                    ng-blur="vm.passwordFocused = false"
                />
            </div>
        </div>
        <div class="divide20"></div>
        <button class="btn" ng-click="vm.signin('email')">
            <i class="fa fa-envelope-o"></i>
            {{'ACCOUNT.SIGNIN.EMAIL' | translate}}
        </button>
        <div class="divide10"></div>
        <button class="btn btn-facebook" ng-click="vm.signin('facebook')">
            <i class="fa fa-facebook"></i>
            {{'ACCOUNT.SIGNIN.FACEBOOK' | translate}}
        </button>
        <div class="divide10"></div>
        <button class="btn btn-mint" ui-sref="common.noFooter.signup">
            {{'ACCOUNT.SIGNUP' | translate}}
        </button>
    </form>
    <div class="signin-action-input">
        <a ui-sref="common.default.findPassword" class="forgot-password">{{'ACCOUNT.FIND_PASSWORD' | translate}}</a>
    </div>
</div>

<!-- SNS LOGIN MODAL -->
<div id="snsLogin" class="modal fade signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="modal-body">
                <img src="assets/images/logo/svg/logo_black.svg" />
                <h4 translate="SIGNUP.SNS_MENT.1" translate-values="{value: vm._snsTemp.name}"></h4>
                <p translate="SIGNUP.SNS_MENT.2" translate-values="{value: vm._snsTemp.snsName}"></p>
                <p translate="SIGNUP.SNS_MENT.3"></p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button
                        class="btn btn-mint"
                        ng-click="vm.snsSignin()"
                    >
                        {{'FORM.CONTINUE' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SNS LOGIN MODAL -->
