<!-- SIGNUP PAGE -->

<!-- SIGNIN PAGE -->

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 account-page signup-view animated" ng-class="{bounceInDown : !vm.isMobile}">
    <div class="main-logo">
        <img src="assets/images/logo/svg/logo_black.svg" />
    </div>
    <h4>SIGN UP</h4>
    <form ng-submit="vm.signup()" class="signup-form">
        <div class="divide20"></div>
        <div class="signup-form-input">
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>E-mail</label>
                <input
                    required
                    type="text"
                    class="form-control"
                    placeholder="ex) example@lubycon.com"
                    ng-model="vm.member.email"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>Password</label>
                <input
                    required
                    type="password"
                    class="form-control"
                    ng-model="vm.member.password"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>Password Repeat</label>
                <input
                    required
                    type="password"
                    class="form-control"
                    ng-model="vm.rePassword"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>Nickname</label>
                <input
                    required
                    type="text"
                    class="form-control"
                    ng-model="vm.member.nickname"
                />
            </div>
            <div class="input-group col-xs-12 col-sm-12 col-lg-6">
                <label>Country</label>
                <selectbox
                    icon="'fa-filter'"
                    placeholder="Select your location..."
                    options="vm.countryList"
                    required="true"
                    output="vm.member.country"
                    theme="white"
                >
                </selectbox>
            </div>
        </div>
        <div class="divide10"></div>
        <button type="submit" class="btn btn-mint">APPLY</button>
    </form>
</div>
