<div sticky offset="50" sticky-class="stuck" class="filter" ng-class="{'open' : isOpen}">
    <div class="filter-body row">
        <a href="#" ng-click="toggleAction()" class="filter-button btn col-xs-2 col-sm-2 col-lg-1">
            Filter <i class="fa fa-caret-right"></i>
        </a>
        <!--SEARCH BAR POSITION-->
    </div>
    <div class="filter-dropdown" role="menu">
        <ul class="row">
            <li ng-repeat="filter in filters">
                <i class="fa {{filter.icon}} filter-icon"></i>
                <select
                    chosen
                    disable-search="true"
                    inherit-select-classes="true"
                    class="ghost"
                    ng-init="filter.data = filter.data || filter.options[0].id"
                    ng-model="filter.data"
                    ng-options="option.id as option.name for option in filter.options"
                    ng-change="test()"
                >
                </select>
            </li>
            <li>
                <button type="submit" ng-click="submit()" class="btn btn-ghost"><i class="fa fa-search"></i></button>
            </li>
        </ul>
    </div>
</div>
