<div class="filter" ng-class="{'open' : isOpen}">
    <div class="filter-body row">
        <a href="#" ng-click="toggleAction()" class="filter-button btn col-xs-4 col-sm-4 col-lg-1">
            <i class="fa fa-plus"></i> Filter setting
        </a>
        <!--SEARCH BAR POSITION-->
    </div>
    <div ng-show="isOpen" class="filter-dropdown" role="menu">
        <ul class="row">
            <li class="col-xs-12 col-sm-12 col-lg-2" ng-repeat="filter in filters">
                <selectbox
                    icon="filter.icon"
                    options="filter.options"
                    output="filter.data"
                    theme="white"
                    selected-index="0"
                >
                </selectbox>
            </li>
            <li class="col-xs-12 col-sm-12 col-lg-1 col-lg-offset-lg-3">
                <button ng-click="submit()" class="btn btn-mint">SEARCH</button>
            </li>
        </ul>
    </div>
</div>
