.filter {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    color: $glay-color;
    z-index: 2;

    .filter-body {
        background: #fff;
        border-bottom: 1px solid #aaa;
        margin: 0;

        .filter-button {
            background-color: transparent;
            font-size: 16px;
            color: $glay-color;
            padding: 15px 10px;
            border-right: 1px solid #aaa;
            &:hover {
                background-color: $mint-color;
                color: #fff;
            }
            i {
                margin-right: 7px;
            }
        }
    }


    .filter-dropdown {
        position: absolute;
        width: 300px;
        height: 100vh;
        background: rgba(0,0,0,0.93);
        padding: 15px;
        padding-top: 40px;
        transition: all 0.5s cubic-bezier(.67,.02,.23,1);
        .row {
            width: 100%;
            margin: 0 auto;
        }
        li {
            position: relative;
            width: 100%;
            margin-bottom: 12px;
            .filter-icon {
                position: absolute;
                color: #888;
                top: 7px;
                left: 15px;
                z-index: 10;
            }
            select {
                width: 100%;
            }
            .chosen-container {
                margin: 0 auto;
            }
            .btn {
                width: 100%;
                height: 30px;
                padding: 0 20px;
                border: 1px solid $mint-color;
                color: $mint-color;
            }
        }
    }
}
