.checkbox {
    label {
        margin: 0;
        padding: 0;
        font-size: 0;
    }

    .checkbox-body {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        vertical-align: middle;

        .fa-check {
            color: #48cfad;
            vertical-align: top;
        }
    }
    .checkbox-label {
        display: inline-block;
        color: #999;
        font-size: 14px;
        width: calc( 100% - 30px);
        vertical-align: middle;
    }
    &.black .checkbox-body {
        border: 1px solid #444;
    }
    &.white .checkbox-body {
        border: 1px solid #222;
    }
    &.disabled .checkbox-body {
        background: #666;
        .fa-check {
            color: #444;
        }
    }
}
