.community-view{
    .card {
        padding: 20px;
    }
    i {
        margin-right: 5px;
    }
}

.community-view section {
    .content-info {
        text-align: left;

        h1 { // TITLE...
            font-weight: 600;
            font-size: 35px;
        }
        h4 { // DATE...
            display: inline-block;
            font-size: 12px;
        }
        ul { // COUNT LIST...
            li {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .content-section {
        text-align: left;
    }
}

.community-view aside {
    .creator-info {
        padding: 0;
        figure { // CREATOR PROFILE SIZE...
            padding: 0;
            img {
                width: 100%;
            }
        }
        span { // CREATOR INFO...
            text-align: left;
        }
    }
}

.community-write {
    .input-group {
        margin-bottom: 10px;
        label {
            display: block;
        }
    }


    // SUMMERNOTE....
    .note-editor {
        // TOOLBAR...
        .note-toolbar.panel-heading {
            background: #222;
            .note-btn-group.btn-group {
                .note-btn.btn {
                    background: $glay-color;
                }
            }
        }
        .note-statusbar {
            background-color: #222;
        }
    }
}
