.community-view{
    .card {
        padding: 20px;
    }
    i {
        margin-right: 5px;
    }
}

.community-view section {
    .content-info {
        text-align: left;

        h1 { // TITLE...
            font-weight: 600;
            font-size: 35px;
        }
        h4 { // DATE...
            display: inline-block;
            font-size: 12px;
        }
        ul { // COUNT LIST...
            li {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .content-section {
        text-align: left;
    }
}

.community-view aside {
    .content-aside {
        &.card {
            text-align: left;
            padding: 0;

            .creator-info {
                padding: 15px;
                figure { // CREATOR PROFILE SIZE...
                    display: inline-block;
                    width: 50px;
                    padding: 0;
                    vertical-align: top;
                    margin-right: 5px;
                    img {
                        width: 100%;
                    }
                }
                span { // CREATOR INFO...
                    text-align: left;
                    display: inline-block;
                    vertical-align: top;

                    h4 {
                        font-weight: 600;
                    }
                    h5 {
                        color: #aaa;
                        font-weight: 200;
                        font-size: 12px;
                        margin: 2px 0;
                        &[data-value="job"] {

                        }
                        &[data-value="location"] {
                            i {
                                font-size: 14px;
                                color: $mint-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.community-write {
    .input-group {
        margin-bottom: 10px;
        label {
            display: block;
        }
    }


    // SUMMERNOTE....
    .note-editor {
        // TOOLBAR...
        .note-toolbar.panel-heading {
            background: #222;
            .note-btn-group.btn-group {
                .note-btn.btn {
                    background: $glay-color;
                }
            }
        }
        .note-statusbar {
            background-color: #222;
        }
    }
}
