
<!-- THIS IS FOOTER COMPONENT -->
<nav ng-if="!vm.isMobile" class="navbar navbar-fixed-bottom navbar-light main-footer">
    <!--LEFTSIDE MENU-->
    <!-- <ul class="pull-left">
        <li class="dropdown navbar-menu" uib-dropdown on-toggle="vm.CommunityToggle">
            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
                language <i class="fa fa-angle-up"></i>
            </a>
            <ul class="dropdown-menu main-nav-menu" role="menu">
                <li ng-repeat="language in vm.languages" ng-click="vm.changeLanguage(language.value)">
                    {{language.name}}
                </li>
            </ul>
        </li>
    </ul> -->
    <!--RIGHTSIDE MENU-->
    <ul class="pull-right">
        <li><a ui-sref="common.noFooter.aboutus">Terms of service</a></li>
        <li><a ui-sref="common.noFooter.aboutus">Private policy</a></li>
        <li><a ui-sref="common.noFooter.aboutus">ABOUT</a></li>
    </ul>
</nav>
