
<!-- THIS IS MAIN HEADER COMPONENT -->

<!-- FOR DESKTOP START -->
<nav
    class="navbar navbar-fixed-top main-header"
     ng-if="!vm.isMobile"
>
    <div class="navbar-header main-logo">
        <a href="/">
            <img src="assets/images/logo/svg/logo_title_black.svg" />
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="menu in vm.menuList" class="dropdown navbar-menu" uib-dropdown on-toggle>
                <a href="" class="dropdown-toggle" uib-dropdown-toggle>
                    {{menu.name}} <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu main-nav-menu" role="menu">
                    <li ng-repeat="subMenu in menu.subMenu">
                        <a ui-sref="{{subMenu.link}}">
                            <i class="fa {{subMenu.icon}}"></i>{{subMenu.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-header nav-member">
        <a ng-if="!$root.member" ui-sref="common.noFooter.signin" class="main-signin">
            <i class="fa fa-lock"></i>{{'MENU.SIGNIN' | translate}}
        </a>
        <div ng-if="$root.member" uib-dropdown on-toggle="vm.memberToggle" class="main-user-display">
            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
                <figure><img ng-src="{{$root.member.profile ? $root.member.profile : '/assets/images/no_images/user.jpg'}}"></figure>
                <h4>{{$root.member.name}}</h4>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a ui-sref="common.default.accountSetting({memberId:$root.member.id})">
                        <i class="fa fa-gear"></i>Setting
                    </a>
                </li>
                <li>
                    <a ui-sref="common.noFooter.cert-pwd">
                        <i class="fa fa-gear"></i>Password Setting
                    </a>
                </li>
                <li>
                    <a ng-click="vm.doSignOut()" onclick="return false;">
                        <i class="fa fa-gear"></i>Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- FOR MOBILE START -->
<nav
    class="navbar navbar-fixed-top main-header mobile"
     ng-if="vm.isMobile"
>
    <div class="navbar-header main-logo">
        <a href="/">
            <img src="assets/images/logo/svg/title_black.svg" />
        </a>
    </div>

    <button class="mobile-menu-button" ng-click="vm.mobileMenuToggle()">
        <i class="fa fa-navicon"></i>
    </button>

    <div class="mobile-menu-list">
        <a ui-sref="common.figure.main"><i class="fa fa-home"></i></a>
        <ul>
            <li ng-repeat="menu in vm.menuList">
                <h3>{{menu.name}}</h3>
                <ul>
                    <li ng-repeat="subMenu in menu.subMenu">
                        <a ui-sref="{{subMenu.link}}" ng-click="vm.mobileMenuToggle()">
                            <i class="fa {{subMenu.icon}}"></i>{{subMenu.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="overlay" ng-click="vm.mobileMenuToggle()"></div>
</nav>
