// HEADER IS FIXED

// NAVBAR START
.navbar {
    border-radius: 0;
}
.main-header {
    background: rgba(255,255,255,0.8);
    border-bottom: 1px solid #fff;
    transition: background 0.2s, border 0.2s;
    // &.visible {
    //     background: rgba(0,0,0,0.8);
    //     border: 1px solid #000;
    // }

    .mobile-menu-button {
        float: right;
        font-size: 20px;
        color: #444;
        margin-top: 11px;
        margin-right: 5px;
        border: none;
        background: transparent;
    }
    .mobile-menu-list {
        position: fixed;
        top: 0;
        right: 100%;
        width: 250px;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        transition: right 0.3s;
        ul {
            li {
                h3 {

                }
                ul {
                    li {
                        a {

                        }
                    }
                }
            }
        }
    }

    .navbar-header {
        // BRAND IMAGE
        &.main-logo {
            position: absolute;
            img {
                width: 100%;
            }
        }
    }

    // ALIGN FOR MENU LISTS
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .collapse.navbar-collapse {
        text-align: center;
    }

    // DESIGN FOR MENU BUTTONS
    .navbar-nav a {
        color: #444;
        i {
            margin-right: 10px;
        }
    }

    // DROPDOWN MENU OPENED
    .navbar-nav > .navbar-menu.open > a {
        background-color: #fff;
    }
    .navbar-menu:hover {
        background-color: #fff;
    }

    // DESIGN FOR MENU LISTS
    .main-nav-menu {
        border: none;
        border-radius: 0;
        background-color: #fff;
        margin-top: 1px;
        left: -1px;
    }

    // MENU LISTS HOVER, FOCUS
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #48cfad;
        color: #444;
    }

    // MEMEBER MENU
    .navbar-header.nav-member {
        position: absolute;
        right: 10px;
        top: 14px;
        color: #444;

        a.main-signin {
            font-size: 16px;
            i {
                margin-right: 5px;
            }
        }

        .main-user-display {
            top: -3px;
            right: 10px;
            figure {
                display: inline-block;
                width: 30px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
            h4 {
                display: inline-block;
                vertical-align: middle;
            }

            .dropdown-menu {
                li {
                    a {
                        padding: 3px 10px;
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .main-logo {
        width: 120px;
        top: 13px;
        left: 50%;
        margin-left: -60px;
    }
}
@media (min-width: 768px) {
    .main-logo {
        width: 140px;
        top: 13px;
        left: 8px;
    }
}
