<div class="comments">
    <div class="comment" ng-repeat="comment in comments">
        <div class="comment-profile">
            <img ng-src="{{contentHost + comment.profile}}" />
        </div>
        <div class="comment-main">
            <a ui-sref="aside.default.dashboard({memberId: item.userData.code})">
                <h4>{{comment.name}}</h4>
            </a>
            <h5>{{comment.content}}</h5>
            <div class="comment-date">
                {{comment.date}}
            </div>
        </div>
        <div class="divide-horizental"></div>
    </div>
</div>
