.comments {
    .comment-note {
        .user-profile {

        }
    }
    .comment{
        position: relative;
        padding: 10px;
        .comment-main {
            position: relative;
            text-align: left;
            h4 {
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
            h5 {
                font-size: 14px;
            }
            .comment-date {
                color: #aaa;
                font-size: 12px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .btn {
        &.comment-submit-bt {
            float: right;
            margin: 15px 15px 0 0;
        }
    }

    .comment-profile {
        padding: 0;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 640px) {
        .comment{
            position: relative;
            padding: 10px;
            .comment-main {
                position: relative;
                text-align: left;
                h4 {
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                h5 {
                    font-size: 12px;
                }
                .comment-date {
                    font-size: 10px;
                }
            }
        }
        .btn {
            &.comment-submit-bt {
                font-size: 12px;
            }
        }
    }
}
