<div class="comments">
    <div class="comment col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="comment-profile user-profile col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img ng-src="{{me && me.profile ? me.profile : '/assets/images/no_images/user.jpg'}}" />
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <textarea
                ng-disabled="me && isActiveUser ? false : true"
                msd-elastic="\n"
                rows="5"
                placeholder="{{me ? '최대 255자까지 입력 가능합니다' : '로그인이 필요합니다'}}"
                ng-maxlength="255"
                class="form-control"
                ng-model="myComment"
            ></textarea>
        </div>
        <a class="btn btn-mint comment-submit-bt" ng-click="commentSubmit()">SUBMIT</a>
    </div>
    <div class="divide-horizental col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="comment col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="comment in comments">
        <div class="comment-profile col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img ng-src="{{comment.userData.profile ? comment.userData.profile : '/assets/images/no_images/user.jpg'}}" />
        </div>
        <div class="comment-main col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <a ui-sref="aside.default.dashboard({memberId: comment.userData.id})">
                <h4>{{comment.userData.name}}</h4>
            </a>
            <h5>{{comment.commentData.content}}</h5>
            <h5 ng-if="comment.editable && (me && me.id === comment.userData.id)">
                <input class="form-control" ng-model="comment.commentData.content" />
            </h5>
            <div class="comment-date">
                {{comment.commentData.date}}
            </div>
        </div>
        <div class="comment-control btn-group" ng-if="me && me.id === comment.userData.id">
            <button
                class="btn"
                ng-click="setEditableMyComment(comment,true)"
            >
                <i class="fa fa-pencil"></i>
            </button>
            <button
                ng-show="comment.editable"
                class="btn"
                ng-click="setEditableMyComment(comment,false)"
            >
                <i class="fa fa-close"></i>
            </button>
            <button
                ng-hide="comment.editable"
                class="btn btn-red"
                ng-click="deleteComment(comment)"
            >
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="divide-horizental col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>
</div>
