@charset 'UTF-8';
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #ffffff;
// $icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// NORMALIZE
body {
    width: 100%;
    position: relative;
    background-color: #eeeeee;
    display: block;
    overflow-x: hidden;
    -webkit-text-size-adjust: none; /*hold font-size in moblie*/
    -ms-overflow-style: none;
}

article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    display: block;
}

body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, li, dt, dd, address, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    margin: 0px;
    padding: 0px;
    color: #444;
}

li {
    list-style: none;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: #444;
    margin: 0px;
    padding: 0px;
    &:hover, &:focus {
        color: #444;
        opacity: 0.8;
        text-decoration: none;
    }
}

* {
    font-family: 'Source Sans Pro';
    /*font-size: 1em;*/
    font-weight: 400;
    outline: 0;
}
*:focus{
    outline: 0;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */


// injector
// endinjector
