@charset 'UTF-8';
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #ffffff;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


body {
    background-color: #eeeeee;
}

.row .card {
    background: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */


// injector
// endinjector


// IMPORT DIRECTIVE STYLES....
@import "components/mainboard/mainboard.scss";
