<div class="row">
    <div class="table-wrap col-sm-6 col-lg-12">
        <div class="table-header">
            <div class="board-name"><!--$stateParam.category--></div>
            <div class="board-data-title">
                <span class="table-date">Date</span>
                <span class="table-view"><i class="fa fa-heart"></i></span>
                <span class="table-like"><i class="fa fa-eye"></i></span>
            </div>
        </div>
        <div class="table-body">
            <ul class="table-list-wrap">
                <li class="table-list" ng-repeat="list in lists">
                    <div class="table-list-inner">
                        <span class="table-tag-wrap hidden-mb-ib">
                            <span class="table-tag">
                                <i class="fa fa-circle"></i>
                            </span>
                            <span class="table-number">{{list.content.code}}</span>
                        </span>
                        <span class="table-user-img">
                            <img ng-src="{{contentHost + list.userData.profile}}">
                        </span>
                        <span class="table-info">
                            <a ui-sref="common.default.community-view({category: 'forum', boardId: list.content.code})">
                                <span class="table-subject">{{list.content.title}}</span>
                                <span class="table-comments">[{{list.content.comment}}]</span>
                            </a>
                            <span class="table-writer">
                                <a href="">
                                    {{list.userData.name}}
                                </a>
                            </span>
                        </span>
                        <div class="table-counts">
                            <span class="table-date">{{list.content.date}}</span>
                            <span class="table-view table-counter">{{list.content.view}}</span>
                            <span class="table-view table-counter">{{list.content.like}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
