

.table-wrap {
    .table-header {
        height: 50px;
        background: #383838;
        color: #fff;
        text-align: center;
        cursor: default !important;

        h5 {

        }
        .board-data {

        }
    }
    .table-body {
        ul {
            li {
                display: inline-block;
                width: 100%;
                background-color: #fff;
                padding: 10px 15px;

                .list-wrapper {
                    &:first-child {
                        padding-left: 0;
                    }
                }

                .post-data {
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    .post-label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        p {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    .post-body {
                        display: block;
                        vertical-align: middle;
                        padding-left: 50px;
                        .post-info {
                            h3 {
                                display: inline-block;
                                max-width: 95%;
                                font-size: 20px;
                                font-weight: 600;
                                color: $glay-color;
                                vertical-align: middle;
                                @include ellipsis;
                            }
                            p {
                                display: inline-block;
                                font-size: 12px;
                                vertical-align: middle;
                            }
                        }
                        .post-counts {
                            span {
                                margin-right: 10px;
                                color: $glay-color;
                                font-size: 14px;
                                i {
                                    font-size: 12px;
                                    &.fa-heart {
                                        color: $mint-color;
                                    }
                                }
                            }
                        }
                    }

                }
                .author-data {
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    .user-img {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        vertical-align: middle;
                        margin-right: 10px;
                        img {
                            width: 100%;
                        }
                    }
                    h4 {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                        a {

                        }
                    }
                }
            }
        }
    }


    // CATEGORIZING
    &.forum {
        .table-body > ul > li{
            border-left: 3px solid $mint-color;
        }
    }

    // MEDIA QUERY
    @media screen and (max-width: 640px) {
        .table-body {
            ul {
                li {
                    margin-bottom: 5px;
                    .post-data {
                        .post-body {
                            .post-info {
                                h3 {
                                    max-width: 87%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
