

.table-wrap {
    .table-header {
        height: 50px;
        background: #383838;
        color: #fff;
        text-align: center;
        cursor: default !important;

        h5 {

        }
        .board-data {

        }
    }
    .table-body {
        ul {
            li {
                display: inline-block;
                width: 100%;
                background-color: #fff;
                margin-bottom: 5px;
                padding: 10px;

                .list-wrapper {
                    padding: 0;
                }

                .post-data {
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    .post-label {
                        display: inline-block;
                        text-align: center;
                        padding: 25px;
                        i {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        p {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    .post-body {
                        display: inline-block;
                        .post-info {
                            h3 {

                            }
                            p {

                            }
                        }
                        .post-counts {
                            span {
                                i {

                                }
                            }
                        }
                    }

                }
                .author-data {
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    .user-img {
                        display: inline-block;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    h4 {
                        display: inline-block;
                        a {

                        }
                    }
                }
            }
        }
    }

    // CATEGORIZING

    &.forum {
        .post-label {
            border: 2px solid $mint-color;
        }
    }
}
