[ui-view='header'] {

}

[ui-view='mainFigure'] {

}

#container {
    background: #eeeeee;
    padding: 70px 0px;
}
@media screen and (max-width: 640px) {
    #container {
        padding-top: 10px;
    }
}

[ui-view='footer'] {

}
