<section class="col-sm-12 col-lg-10 col-lg-offset-1  message message-wrapper {{vm.message.animation}} animated">
	<i class="message-icon fa {{vm.message.icon}} {{vm.message.iconColor}} {{vm.message.iconAnimation}} animated"></i>
	<div class="message-box">
		<article class="main-message">{{vm.message.title}}</article>
		<article class="sub-message">{{vm.message.content}}</article>
	</div>
	<div class="message-box">
		<div
			class="btn {{button.category}}"
			ng-repeat="button in vm.message.buttons"
			ng-click="button.func()"
		>
			{{button.content}}
		</div>
	</div>
</section>
