<div class="selectBox {{theme}}">
    <div class="select-body {{theme}}" uib-dropdown on-toggle="toggleAction()" ng-class="{empty : !output}">
        <a href="#" class="dropdown-toggle" onclick="return false;" uib-dropdown-toggle ng-click="mobileAction()">
            <i class="fa {{icon}} dropdown-icon"></i> {{output || placeholder || options[selectedIndex]}}
            <i ng-show="!isOpen" class="arrow fa fa-caret-down"></i>
            <i ng-show="isOpen" class="arrow fa fa-caret-up"></i>
        </a>
        <ul ng-show="!isMobile" class="dropdown-menu" role="menu">
            <li ng-repeat="item in options" ng-click="selectOption($index); changeEvent($index,item);" ng-class="{'selected' : item === output}">
                <a href="#" role="menuitem" onclick="return false;">{{item}}</a>
            </li>
            <li ng-show="!options.length" role="menuitem" >{{'No Item'}}</li>
        </ul>
    </div>
    <select class="mobile-selector" ng-show="isMobile" ng-model="output">
        <option ng-repeat="item in options">{{item}}</option>
    </select>
</div>
