.editor-aside {
    .btn {
        border: none;
        background: #444;
        min-width: 43px;
        min-height: 43px;
        background-size: cover;
        &.selected {
            background: #333;
            color: #48cfad
        }
    }

    .chosen-container {
        width: 100% !important;
    }

    .controller-tab {
        position: relative;

        .texture-viewer {
            width: 43px;
            height: 43px;
            padding: 0;
            img {
                width: 100%;
            }
        }
        .color-viewer {
            display: inline-block;
            min-width: 43px;
            min-height: 43px;
        }
        input[colorpicker] {
            display: none;
        }
    }


    // LIGHT TOOLS...
    .light-generator {
        position: relative;
        border: 1px solid #444;
        padding: 10px;
        &.selected {
            border: 1px solid #48cfad;
        }

        p {
            height: 30px;
        }
        .switcher {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.texture-uploader.editor-modal {
    .modal-body {
        text-align: left;
    }
}
