

<!----- HEADER ----->
<div class="editor-header">
    <ul class="headerTools">
        <li ng-repeat="tool in vm.config.headerTools">
            <button
                class="btn"
                ngf-select
                type="file"
                name="files"
                ng-model="vm.model"
                ngf-change="vm.changedFile($files,$file,$newFiles,$invalidFiles)"
                ngf-max-files="1"
            >
                <i class="fa {{tool.icon}}"></i>{{tool.name | camelCaseFilter | uppercase}}
            </button>
        </li>
    </ul>
</div>

<!----- TOOLBAR ----->
<aside class="editor-aside">
    <ul class="tools">
        <li ng-repeat="tool in vm.config.tools">
            <button class="btn" ng-click="vm.toolboxToggle(tool.name)">
                <i class="fa {{tool.icon}}"></i>
            </button>
        </li>
    </ul>
    <ul class="toolboxes">
        <li ng-repeat="tool in vm.config.tools" ng-show="vm.toolEnabled[tool.name]">
            <h4><i class="fa {{tool.icon}}"></i>{{tool.name | camelCaseFilter}}</h4>
            <div class="divide20"></div>

            <ul>
                <li ng-repeat="subTool in tool.subTools" class="sub-tools" data-value="{{subTool.name}}">
                    <h5>{{subTool.name | camelCaseFilter}}</h5>
                </li>
            </ul>
        </li>
    </ul>
</aside>

<!----- VIEWER ----->
<div class="editor webgl-viewer">
    <webgl-viewer
        ng-if="vm.editorSet==='3d'"
        scene="vm.scene"
        renderer="vm.renderer"
        model="vm.model"
        map="vm.selectedMap"
        light="vm.selectedLight"
    ></webgl-viewer>
</div>
