


<div class="editor">
    <!----- HEADER ----->
    <div class="editor-header">
        <ul class="headerTools">
            <li ng-repeat="tool in vm.config.headerTools">
                <button
                    class="btn"
                    ngf-select
                    type="button"
                    name="files"
                    ng-model="vm.model"
                    ngf-change="vm.changedFile($files,$file,$newFiles,$invalidFiles)"
                    ngf-max-files="1"
                    ngf-accept="'.obj, .stl, .fbx'"
                >
                    <i class="fa {{tool.icon}}"></i>{{tool.name | camelCaseFilter | uppercase}}
                </button>
            </li>
        </ul>
        <button
            class="btn next-button"
            type="button"
            data-target="#thumbnail-modal"
            data-toggle="modal"
            ng-click="vm.capture()"
        >NEXT<i class="fa fa-arrow-right"></i></button>
    </div>

    <!----- TOOLBAR ----->
    <aside class="editor-aside">
        <ul class="tools" ng-show="vm.model">
            <li ng-repeat="tool in vm.config.tools">
                <button
                    type="button"
                    class="btn"
                    ng-class="{'selected' : vm.toolEnabled[tool.name]}"
                    ng-click="vm.toolboxToggle(tool.name)"
                >
                    <i class="fa {{tool.icon}}"></i>
                </button>
            </li>
        </ul>
        <ul class="toolboxes">
            <li ng-repeat="tool in vm.config.tools" ng-show="vm.toolEnabled[tool.name]">
                <h4><i class="fa {{tool.icon}}"></i>{{tool.name | camelCaseFilter}}</h4>
                <div class="divide20"></div>
                <ul>
                    <li ng-repeat="subTool in tool.subTools" class="sub-tools" data-value="{{subTool.name}}">
                        <h5>{{subTool.name | camelCaseFilter}}</h5>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>


    <!-------------------- EDIT STEP------------------->
    <!-----3D VIEWER ----->
    <div class="editor webgl-viewer">
        <webgl-viewer
            ng-if="vm.editorSet==='3d'"
            scene="vm.scene"
            renderer="vm.renderer"
            model="vm.model"
            map="vm.selectedMap"
            light="vm.selectedLight"
        ></webgl-viewer>
    </div>


<!-------------------- THUMBNAIL STEP------------------->
    <div ng-if="vm.model" class=" modal fade" data-backdrop="static" id="thumbnail-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="editor-modal modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Thumbnail</h3>
                </div>
                <div class="modal-body">
                    <div ng-if="vm.editorSet === '3d'">
                        <div class="cropper-window">
                            <img cropper cropping="vm.cropping" previewer="'.preview'" class="cropper" ngf-src="vm.capturedData" ngf-no-object-url="true" />
                        </div>
                        <div class="cropper-window cropper-preview"></div>
                    </div>


                    <div ng-if="vm.editorSet === '2d'"></div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">BACK</button>
                    <button
                        type="button"
                        class="btn"
                        ng-click="vm.crop()"
                        data-dismiss="modal"
                        data-target="#setting-modal"
                        data-toggle="modal"
                    >NEXT</button>
                </div>
            </div>
        </div>
    </div>

    <!-------------------- SETTING STEP------------------->
    <div ng-if="vm.thumbnail" class=" modal fade" data-backdrop="static" id="setting-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="editor-modal modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Setting</h3>
                </div>
                <div class="modal-body row">
                    <div class="divided-form col-xs-12 col-sm-12 col-lg-6">
                        <div class="input-group">
                            <label>Title</label>
                            <input type="text" ng-model="vm.title" class="form-control" />
                        </div>
                        <div class="input-group">
                            <label>Category</label>
                            <select
                                chosen
                                inherit-select-classes="true"
                                class="black"
                                multiple
                                max-selected-options="3"
                                ng-model="vm.selectedCategories"
                                data-placeholder="Select Categories (max 3)"
                            >
                                <option value="{{item.id}}" ng-repeat="item in vm.categories">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label>Tags</label>
                            <div class="form-control tags-form">
                                <ul>
                                    <li class="tags" ng-repeat="tag in vm.tags">
                                        {{tag}}
                                        <i class="fa fa-close" ng-click="vm.removeTag($index)"></i>
                                    </li>
                                    <li><input
                                        type="text"
                                        ng-if="vm.tags.length < 20"
                                        ng-model="vm.currentTag"
                                        ng-trim="true"
                                        ng-maxlength="20"
                                        ng-keydown="vm.detectTag($event,$valid)"
                                    /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Descript</label>
                            <textarea msd-elastic="\n" type="text" class="form-control" ng-model="vm.description"></textarea>
                        </div>
                    </div>
                    <div class="divided-form col-xs-12 col-sm-12 col-lg-6">
                        <div class="input-group">
                            <label>Creative Commons</label>
                            <div class="cc-box">
                                <ul>
                                    <li ng-repeat="item in vm.creativeCommons" ng-show="item.check && vm.ccUsage">
                                        <img ng-src="{{item.icon.white}}" />
                                    </li>
                                    <li ng-show="!vm.ccUsage">
                                        <img ng-src="{{'/assets/images/creative_commons/not_cc.png'}}" />
                                    </li>
                                </ul>
                            </div>
                            <div class="cc-setting">
                                <radio output="vm.ccUsage" label="CREATIVE COMMONS LICENSE" value="true" theme="black"></radio>
                                <ul ng-show="vm.ccUsage">
                                    <li ng-repeat="item in vm.creativeCommons">
                                        <checkbox data-index="{{$index}}" output="item.check" theme="black" disabled="item.disabled" label="item.descript" change-event="vm.changeCC"></checkbox>
                                    </li>
                                </ul>
                                <radio output="vm.ccUsage" label="NO USAGE WITHOUT OWNER`S PERMISSION" value="false" theme="black"></radio>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Downloadable</label>
                            <checkbox output="vm.downloadable" theme="black" label="'If you check this, anyone will can download your model'"></checkbox>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" data-target="#thumbnail-modal" data-toggle="modal">BACK</button>
                    <button type="submit" ng-click="vm.postData()" class="btn">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
