

.editor {
    .editor-header {
        position: fixed;
        width: 100%;
        height: 50px;
        top: 50px;
        left: 0;
        background: #444;

        ul.headerTools {
            display: inline-block;
            height: 100%;
            li {
                float: left;
                height: 100%;
                color: #eee;
                border-right: 1px solid #eee;
                padding: 0 10px;
                &:hover {
                    background: #555;
                }
                button {
                    height: 100%;
                    background: transparent;
                    font-size: 14px;
                }
                i {
                    margin-right: 10px;
                }
            }
        }

        .btn.next-button {
            height: 100%;
            float: right;
            background: transparent;
            padding: 10px 20px;
            font-size: 17px;
            font-weight: 600;

            i {
                margin-left: 15px;
            }
            &:hover {
                color: #48cfad;
                background: #555;
            }
        }
    }
    .editor-aside {
        position: fixed;
        width: 50px;
        height: 100vh;
        top: 100px;
        left: 0;
        background: #333;

        ul.tools {
            padding: 20px 0;
            li {
                display: block;
                button {
                    width: 100%;
                    background: transparent;
                    color: #eee;
                    font-size: 14px;
                    &:hover {
                        background: #444;
                    }
                    &.selected {
                        background: #222;
                        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
                    }
                }
            }
        }
        ul.toolboxes {
            position: fixed;
            top: 100px;
            left: 50px;
            & > li {
                width: 300px;
                min-height: 300px;
                background: rgba(0,0,0,0.85);
                padding: 20px;
                color: #eee;

                h4 {
                    color: #eee;
                    font-size: 16px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .editor.webgl-viewer {
        width: 100%;
    }
}

// EDITOR MODAL
.editor-modal {
    background: #222;
    color: #eee;
    padding: 0 15px;
    .modal-header {
        border: none;
        padding: 15px 0;
        h3.modal-title {
            color: #eee;
        }
    }
    .modal-body {
        border: none;
        background: #111;
        text-align: center;

        .cropper-window {
            display: inline-block;
            width: 400px;
            height: 400px;
            margin: 0 7px;
            img {
                width: 100%;
            }
            &.cropper-preview {

            }
        }
    }
    .modal-footer {
        border: none;
        padding: 15px 0;
        .btn {
            background: #444;
            padding: 10px 20px;
        }
    }


    &.texture-uploader {
        .texture-upload-btn {
            border: 2px dashed #eee;
            background: transparent;
        }

        .btn.textures {
            width: 43px;
            height: 43px;
            padding: 0;
            img {
                width: 100%;
            }
        }

        ul {
            li {
                display: inline-block;
                margin: 5px;
                &.selected {
                    border: 1px solid #48cfad;
                }
            }
        }
    }
}

#setting-modal {
    .divided-form {
        padding: 10px;
        &:first-child {
            border-right: 1px solid #222;
        }
    }

    .input-group {
        text-align: left;
        width: 90%;

        .form-control {
            background: #222;
            color: #999;
            border: 1px solid #333;

            &.tags-form {
                height: auto;
                ul {
                    li {
                        display: inline-block;
                        color: #999;
                        .fa-close {
                            margin-left: 5px;
                        }
                    }
                    li.tags {
                        border: 1px solid #444;
                        padding: 0 5px;
                        margin: 3px 5px 3px 0;
                    }
                }
                input[type="text"] {
                    width: auto;
                    height: 100%;
                    border: none;
                    background: transparent;
                }
            }
        }

        label {
            margin: 0 0 10px;
            font-size: 18px;
            color: #eee;
        }
        input[type="text"] {
            background: #222;
            color: #999;
            border: 1px solid #333;
        }
        .chosen-container{
            width: 100% !important;
        }

        .cc-box {
            ul {
                background: #222;
                border: 1px solid #333;
                padding: 5px;
                text-align: center;
                li {
                    display: inline-block;
                    width: 10%;
                    margin: 5px 10px 5px 0;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
