.content-view{
    .card {
        padding: 20px;
    }

    i {
        margin-right: 5px;
    }
    @media screen and (max-width: 640px) {
        .card {
            padding: 20px;
        }
    }
}

.content-view section {
    .card {
        .content-info {
            text-align: left;
            padding: 20px;

            h1 { // TITLE...
                font-weight: 600;
                font-size: 35px;
            }
            ul.category { // CATEGORY...
                display: inline-block;
                background: $glay-color;
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 200;
                border-radius: 4px;
                li {
                    display: inline-block;
                    color: #fff;
                    &.sub-categories {
                        font-size: 10px;
                        &:after {
                            margin-left: 1px;
                            content: '/';
                            margin-right: 3px;
                        }
                        &:last-child {
                            &:after {
                                margin-left: 0;
                                content: '';
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            ul.count { // COUNT LIST...
                li {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
        }
        .content-body {
            width: 100%;
            height: 50vh;
            overflow: hidden;
        }
        @media screen and (max-width: 640px) {
            .content-info {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}

.content-view aside {
    .content-aside {
        &.card {
            text-align: left;
            padding: 0;

            .creator-info {
                padding: 15px;
                figure { // CREATOR PROFILE SIZE...
                    display: inline-block;
                    width: 50px;
                    padding: 0;
                    vertical-align: top;
                    margin-right: 5px;
                    img {
                        width: 100%;
                    }
                }
                span { // CREATOR INFO...
                    text-align: left;
                    display: inline-block;
                    vertical-align: top;

                    h4 {
                        font-weight: 600;
                    }
                    h5 {
                        color: #aaa;
                        font-weight: 200;
                        font-size: 12px;
                        margin: 2px 0;
                        &[data-value="job"] {

                        }
                        &[data-value="location"] {
                            i {
                                font-size: 14px;
                                color: $mint-color;
                            }
                        }
                    }
                }
            }

            .info-wrap {
                padding: 5px 15px;
                margin-bottom: 15px;
                .info-title {
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 5px 10px;
                    border-radius: 4px;
                    background: #aaa;
                    color: #fff;
                }
                &[data-value='tag'] {
                    ul {
                        text-align: left;
                        li {
                            display: inline-block;
                            background: $glay-color;
                            color: #fff;
                            border-radius: 4px;
                            padding: 3px 12px;
                            margin: 5px 5px 5px 0;
                            font-size: 10px;
                        }
                    }
                }
                &[data-value='descript'] {
                    padding: 5px 15px 20px;
                }
            }
        }
    }
    .action-area {
        &.card {
            .btn {
                display: block;
                margin: 5px 0;
            }
        }
    }
}
