
<div class="container content-view">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-lg-9">
            <div class="card">
                <div class="content-info">
                    <h1>{{vm.data.contents.title}}</h1>
                    <div class="divide10"></div>

                    <h4>{{vm.category}} &gt; {{vm.contents.subCate[0]}}, {{vm.contents.subCate[1]}}</h4>
                    <div class="divide10"></div>

                    <ul>
                        <li ng-repeat="count in vm.counts">
                            <i class="{{count.icon}}"></i>{{count.data}}
                        </li>
                    </ul>
                </div>

                <div class="divide20"></div>
                <div class="divide-horizental"></div>
                <div class="divide20"></div>

                <ng-bind-html ng-bind-html="vm.convertToHTML(vm.contents.content)"></ng-bind-html>
            </div>

            <div class="col-sm-6 col-lg-6 clear-left">
                <!--INFO 1-->
                <div class="card">

                </div>
            </div>
            <div class="col-sm-6 col-lg-6 clear-right">
                <!--INFO 2-->
                <div class="card"></div>
            </div>
            <div class="card col-sm-12 col-lg-12 comment-info">

                <div class="divide20"></div>
                <div class="divide-horizental"></div>
                <div class="divide20"></div>

                <comment comments="vm.comments"></comment>
            </div>
        </section>



        <aside class="col-xs-12 col-sm-12 col-lg-3">
            <div class="content-aside card">
                <div class="creator-info col-sm-12 col-lg-12">
                    <figure class="col-sm-4 col-lg-4">
                        <img ng-src="{{vm.contentHost + vm.member.profile}}" />
                    </figure>
                    <span class="col-sm-8 col-lg-8">
                        <h4><a ng-href="creators/dashboard/{{vm.member.code}}">
                                {{vm.member.name}}
                            </a>
                        </h4>
                        <h5 data-value="job">{{vm.member.job}}</h5>
                        <h5 data-value="location">
                            <i class="fa fa-map-marker"></i>{{vm.member.city}}, {{vm.member.country}}
                        </h5>
                    </span>
                </div>

                <div class="divide-horizental col-sm-12 col-lg-12"></div>

                <div class="info-wrap" data-value="tag">
                    <p class="info-title"><i class="fa fa-tag"></i>Tags</p>
                    <div class="info-content">
                        <ul>
                            <li ng-repeat="tag in vm.contents.tags">{{tag}}</li>
                        </ul>
                    </div>
                </div>
                <div class="info-wrap" data-value="descript">
                    <p class="info-title"><i class="fa fa-info-circle"></i>Description</p>
                    <div class="info-content">
                        <p>
                            {{vm.data.contents.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="action-area card">
                <div
                    class="btn btn-bookmark"
                    ng-class="{selected : vm.contents.bookmark}"
                    ng-click="vm.bookmarkAction()"
                >
                    <i class="fa fa-star"></i>BOOKMARK
                </div>
                <div
                    class="btn btn-like"
                    ng-class="{selected : vm.contents.like}"
                    ng-click="vm.likeAction()"
                >
                    <i class="fa fa-heart"></i>like
                </div>
                <div ng-if="vm.downloadable" class="btn">
                    <i class="fa fa-cloud-download"></i>Download
                </div>
            </div>
        </aside>
    </div>


    <div class="divide60"></div>
    CONTENT DATA<br/><br/>

    <!-- code: {{vm.data.contents.code}}<br/> -->
    <!-- title: {{vm.data.contents.title}}<br/>
    subCategory1: {{vm.data.contents.subCate.split(',')[0]}}<br/>
    subCategory2: {{vm.data.contents.subCate.split(',')[1]}}<br/> -->
    <!-- content: {{vm.data.contents.content}}<br/> -->
    <!-- like: {{vm.data.contents.like}}<br/>
    bookmark: {{vm.data.contents.bookmark}}<br/> -->
    <!-- count: {{vm.data.contents.viewCount}}Views, {{vm.data.contents.likeCount}}Likes, {{vm.data.contents.downloadCount}}Downloads<br/> -->
    filePath: {{vm.data.contents.filePath}}<br/>
    cc code: {{vm.data.contents.cc}}<br/>
    <!-- tags: {{vm.data.contents.tags}}<br/>
    description: {{vm.data.contents.description}}<br/> -->

    MEMBER DATA<br/><br/>

    <!-- code: {{vm.member.code}}<br/> -->
    <!-- name: {{vm.member.name}}<br/>
    profile: <img ng-src="{{vm.contentHost + vm.member.profile}}" />
    job: {{vm.member.job}}<br/>
    location: {{vm.member.city}}, {{vm.member.country}} -->
</div>
