
<div class="container content-view">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-lg-9">
            <div class="card">
                <div class="content-info">
                    <h1>{{vm.data.contents.title}}</h1>
                    <div class="divide10"></div>

                    <h4>{{vm.category}} &gt; {{vm.contents.subCate[0]}}, {{vm.contents.subCate[1]}}</h4>
                    <div class="divide10"></div>

                    <ul>
                        <li ng-repeat="count in vm.counts">
                            <i class="{{count.icon}}"></i>{{count.data}}
                        </li>
                    </ul>
                </div>

                <div class="divide20"></div>
                <div class="divide-horizental"></div>
                <div class="divide20"></div>

                <div class="content-body">
                    <!-- <ng-bind-html ng-if="vm.viewerType === '2d'" ng-bind-html="vm.convertToHTML(vm.contents.content)"></ng-bind-html> -->
                    <webgl-viewer
                        ng-if="vm.viewerType === '3d'"
                        scene="vm.scene"
                        renderer="vm.renderer"
                        model="vm.contents.content.model"
                        map="vm.mapObject"
                        light="vm.content.content.lights"
                    ></webgl-viewer>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6 clear-left">
                <!--INFO 1-->
                <div class="card">

                </div>
            </div>
            <div class="col-sm-6 col-lg-6 clear-right">
                <!--INFO 2-->
                <div class="card"></div>
            </div>
            <div class="card col-sm-12 col-lg-12 comment-info">
                <div class="divide20"></div>
                <div
                    class="infinite-scroll-wrapper"
                    infinite-scroll="vm.onScroll()"
                    infinite-scroll-disabled="vm.scrollDisabled"
                    infinite-scroll-distance="0"
                >
                    <comment comments="vm.commentList"></comment>
                </div>
            </div>
        </section>



        <aside class="col-xs-12 col-sm-12 col-lg-3">
            <div class="content-aside card">
                <div class="creator-info col-sm-12 col-lg-12">
                    <figure class="col-sm-3 col-lg-3">
                        <img ng-src="{{vm.member.profile ?  vm.contentHost + vm.member.profile : '/assets/images/no_images/user.jpg'}}" />
                    </figure>
                    <span class="col-sm-9 col-lg-9">
                        <h4><a ui-sref="aside.default.dashboard({memberId: item.userData.code})">
                                {{vm.member.name}}
                            </a>
                        </h4>
                        <h5 data-value="job">{{vm.member.job}}</h5>
                        <h5 data-value="location">
                            <i class="fa fa-map-marker"></i>{{vm.member.city}}, {{vm.member.country}}
                        </h5>
                    </span>
                </div>

                <div class="divide-horizental col-sm-12 col-lg-12"></div>

                <div class="info-wrap" data-value="tag">
                    <p class="info-title"><i class="fa fa-tag"></i>Tags</p>
                    <div class="info-content">
                        <ul>
                            <li ng-repeat="tag in vm.contents.tags">{{tag}}</li>
                        </ul>
                    </div>
                </div>
                <div class="info-wrap" data-value="descript">
                    <p class="info-title"><i class="fa fa-info-circle"></i>Description</p>
                    <div class="info-content">
                        <p>
                            {{vm.data.contents.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="action-area card">
                <div
                    class="btn btn-bookmark"
                    ng-class="{selected : vm.contents.bookmark}"
                    ng-click="vm.bookmarkAction()"
                >
                    <i class="fa fa-star"></i>Bookmark
                </div>
                <div
                    class="btn btn-like"
                    ng-class="{selected : vm.contents.like}"
                    ng-click="vm.likeAction()"
                >
                    <i class="fa fa-heart"></i>Like
                </div>
                <div ng-if="vm.downloadable" class="btn">
                    <i class="fa fa-cloud-download"></i>Download
                </div>
            </div>
        </aside>
    </div>


    <div class="divide60"></div>
</div>
