<section class="col-sm-12 col-lg-10 col-lg-offset-1  message message-wrapper {{vm.message.animation}} animated">
	<i class="message-icon fa {{vm.message.icon}} {{vm.message.iconColor}} {{vm.message.iconAnimation}} animated"></i>
	<div class="message-box">
		<article class="main-message">{{vm.message.title}}</article>
		<article class="sub-message">{{vm.message.content}}</article>
	</div>
	<div class="message-box" ng-if="vm.message.timer">
		<article class="time-wrapper">
			<timer
				time="vm.time"
				max-unit="hour"
				interval="1000"
			>
				<span class="time">{{hours}}</span> Hours
				<span class="time">{{minutes}}</span> Minutes
				<span class="time">{{seconds}}</span> Seconds
			</timer>
		</article>
	</div>
	<div class="message-box">
		<form ng-submit="vm.submit()">
			<div class="input-group col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3" ng-repeat="input in vm.message.inputs">
                <label>{{input.label}}</label>
                <input
                    required
                    type="{{input.type}}"
                    class="form-control"
                    placeholder="{{input.placeholder || ''}}"
                    ng-model="vm.message.inputs[$index].model"
					ng-pattern=""
                />
            </div>
			<div class="divide30"></div>
			<button
				class="btn {{button.kind}}"
				type="{{button.type}}"
				ng-repeat="button in vm.message.buttons"
				ng-click="button.method()"
			>
				{{button.content}}
			</button>
		</form>
	</div>
</section>
