// MEMBER PAGE ASIDE STYLE
.member-aside {
    .member-info {
        position: relative;

        .member-profile {
            width: 70px;
            height: 70px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
        h4 {
            margin-top: 20px;
            font-size: 20px;
        }
        .account-setting-icon {
            position: absolute;
            top: 0;
            right: 0;
            color: #aaa;
            font-size: 20px;
        }
    }
    .member-menu {
        text-align: left;

        ul {
            li {
                font-size: 16px;
                padding: 5px;
                &:hover {
                    color: #fff;
                    background: #ddd;
                }
                i{
                    margin-right: 5px;
                }
            }
        }
    }
}

// DASHBOARD
.dashboard-view {
    // GLOBAL IN DAHSBOARD
    .card {
        padding: 0;
        text-align: left;

        h4 {
            font-size: 24px;
            font-weight: 600;
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }
        .data-wrap {
            padding: 15px;
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: none;
            }

            .title {
                font-size: 15px;
                margin-bottom: 15px;
            }
            .content {
                text-align: center;
                font-size: 28px;
            }
        }
    }

    //HISTORY
    .history {
        ul.history-lists {
            .data-wrap {
                padding: 5px 0;
            }

            .date {
                color: #aaa;
            }

            i:after {
                position: absolute;
                height: 20px;
                width: 2px;
                content: ' ';
                background: #000;
                top: -15px;
                left: 20px;
            }
        }

        i.fa-circle {
            &.work {
                color: #48cfad;
                &:after {
                    background: #48cfad;
                }
            }
            &.education {
                color: #488ccb;
                &:after {
                    background: #488ccb;
                }
            }
            &.awards {
                color: #ffbe54;
                &:after {
                    background: #ffbe54;
                }
            }
        }
    }
}
